[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
social-auth-app-django = "*"
psycopg2-binary = "*"
pillow = "*"
requests = "*"
lxml = "*"

[dev-packages]
mixer = "*"
pytest = "*"
pytest-coverage = "*"
pytest-django = "*"
pytest-freezegun = "*"
pytest-mock = "*"

[requires]
python_version = "3.7"
