[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django = "*"
django-environ = "*"
psycopg2-binary = "*"
requests = "*"
lxml = "*"
celery = "*"
django-celery-results = "*"

[dev-packages]
mixer = "*"
pytest = "*"
pytest-coverage = "*"
pytest-django = "*"
pytest-freezegun = "*"
pytest-mock = "*"

[requires]
python_version = "3.7"
