{% extends "base.html" %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
<h2>
    {{ product.name }}
    {% if product.is_food %}<br/><small>Съедобное, {{ product.food.weight|floatformat:3 }} кг</small>{% endif %}
    {% if product.is_non_food %}<br/><small>Несъедобное</small>{% endif %}
</h2>
{% if product.food %}
    <h4 class="block">На сто грамм</h4>
    {% with product.food as food %}
        <ul>
            <li>Белки: {{ food.protein|floatformat  }} г</li>
            <li>Жиры: {{ food.fat|floatformat }} г</li>
            <li>Углеводы: {{ food.carbohydrate|floatformat }} г</li>
            <li>Калорийность: {{ food.calories|floatformat }} ккал</li>
        </ul>
    {% endwith %}
    <h4 class="block">Всего</h4>
    {% with product.food.total as total %}
        <ul>
            <li>Белки: {{ total.protein|floatformat  }} г</li>
            <li>Жиры: {{ total.fat|floatformat }} г</li>
            <li>Углеводы: {{ total.carbohydrate|floatformat }} г</li>
            <li>Калорийность: {{ total.calories|floatformat }} ккал</li>
        </ul>
    {% endwith %}
{% endif %}

<h4 class="block">Известен как</h4>
<table class="table table-striped">
    {% for alias in product.aliases %}
        <tr>
            <td>{{ alias.seller }}</td>
            <td class="text-right">{{ alias.name }}</td>
        </tr>
    {% endfor %}
</table>

{% if product.similars %}
    <h4 class="block">Похожие продукты</h4>
    <table class="table table-striped">
        {% for similar in product.similars %}
            <tr>
                <td><a href="{% url 'product' similar.id %}">{{ similar.name }}</a></td>
                {% if edit.is_allowed %}
                    <td class="text-right">
                        <form action="{% url 'merge-product' product.id similar.id %}">
                            <input type="submit" value="Объединить">
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endif %}

<h4 class="block">История цен</h4>
<table class="table table-striped">
    {% for price in product.prices %}
        <tr>
            <td>{{ price.seller }}</td>
            <td>{{ price.created|date:'Y-m-d H:i' }}</td>
            <td class="text-right">{{ price.value }} ₽</td>
        </tr>
    {% endfor %}
</table>

{% if edit.is_allowed %}
    <h4 class="block">Редактирование</h4>
    <form action="{% url 'product' product.id %}" method="post">
        {% csrf_token %}
        {{ edit.barcode_form.as_p }}
        <input type="submit" value="Проверить" class="btn btn-primary"/>
    </form>
{% endif %}
{% endblock %}
