{% extends "base.html" %}

{% block title %}Стартовое{% endblock %}

{% block body %}
{% if receipt_items %}
    <h2>Последнее добавленное</h2>
    <table class="table">
        {% for item in receipt_items %}
        <tr>
            <td>{{ item.receipt.seller.name }}</td>
            <td><a href="{% url 'product' item.product_alias.id %}">{{ item.product_alias }}</a></td>
            <td class="text-right">{{ item.price }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}
