{% extends "base.html" %}

{% block title %}Стартовое{% endblock %}

{% block body %}
<h2>О чём это?</h2>
<p>Здесь можно регистрировать свои чеки из магазинов и наблюдать, как меняется цена во времени; или сколько денег в месяц уходит
    на водку; или в каком магазине города выгодней купить молоко. Больше чеков — шире выборка!</p>
{% if user.is_anonymous %}
<p>Правда, сначала нужно <a href="{% url 'social:begin' 'vk-oauth2' %}">зайти через Вконтакте</a> (но это совсем не страшно).</p>
{% endif %}
<p>Подробнее см. <a href="http://blog.demerzov.ru/archives/460" target="_blank">в заметках</a>.</p>
{% if items %}
    <h2>Последнее добавленное</h2>
    <table class="table">
        {% for item in items %}
        <tr>
            <td>{{ item.seller }}</td>
            <td><a href="{% url 'product' item.product_id %}">{{ item.name }}</a></td>
            <td class="text-right">{{ item.price }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}
