{% extends "base.html" %}

{% block title %}Продукт{% endblock %}

{% block body %}
<h2>Известен как</h2>
<table class="table">
    {% for alias in product.aliases %}
    <tr>
        <td>{{ alias.seller }}</td>
        <td class="text-right">{{ alias.name }}</td>
    </tr>
    {% endfor %}
</table>
<h2>История цен</h2>
<table class="table">
    {% for price in product.prices %}
    <tr>
        <td>{{ price.seller }}</td>
        <td>{{ price.created|date:'Y-m-d H:i' }}</td>
        <td class="text-right">{{ price.value }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
