{% extends "base.html" %}

{% block title %}Продукт{% endblock %}

{% block body %}
<h2>{{ product.name }}</h2>
{% if product.food %}
    {% with product.food as food %}
    На сто грамм:
    <ul>
        <li>Белки: {{ food.protein }}</li>
        <li>Жиры: {{ food.fat }}</li>
        <li>Углеводы: {{ food.carbohydrate }}</li>
        <li>Калорийность: {{ food.calories }}</li>
    </ul>
    {% endwith %}
{% endif %}
<h2>Известен как</h2>
<table class="table">
    {% for alias in product.aliases %}
    <tr>
        <td>{{ alias.seller }}</td>
        <td class="text-right">{{ alias.name }}</td>
        <td class="col-md-1">
            <form method="post">
                {% csrf_token %}
                {{ alias.remove_form }}
                <input type="hidden" name="remove" value="1"/>
                <input type="submit" value="Удалить" class="btn btn-danger"/>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<form method="post" class="form-inline">
    {% csrf_token %}
    {{ add_alias_form }}
    <input type="hidden" name="add" value="1"/>
    <input type="submit" value="Добавить синоним" class="btn btn-primary"/>
</form>
<h2>История цен</h2>
<table class="table">
    {% for price in product.prices %}
    <tr>
        <td>{{ price.seller }}</td>
        <td>{{ price.created|date:'Y-m-d H:i' }}</td>
        <td class="text-right">{{ price.value }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
