{% extends "base.html" %}

{% block title %}Чек добавлен{% endblock %}

{% block body %}
<p class="text-success">Чек добавлен.</p>
<h2>{{ receipt.created|date:'Y-m-d H:i' }}<br/><small>{{ receipt.seller }}</small></h2>
<table class="table">
    {% for item in receipt.items %}
    <tr>
        <td><a href="{% url 'product' item.product_id %}">{{ item.name }}</a></td>
        <td>{{ item.quantity }}</td>
        <td class="text-right">{{ item.price }}</td>
    </tr>
    {% endfor %}
</table>
<p><a href="{% url 'add_receipt' %}" class="btn btn-primary">Добавить ещё один чек</a></p>
{% endblock %}
